.profileCard {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0 2px px gray;
}
h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}
p {
  font-size: 17px;
}
input {
  width: 90%;
  margin: 5px 0 10px 0;
  font-size: 16px;
  padding: 3px;
}
